[run]
omit =
    *_test.py
    *__init__*
    src/exoplanet/gp.py
    src/exoplanet/optim.py
    src/exoplanet/interp.py
    src/exoplanet/sampling.py
    src/exoplanet/orbits/constants.py
    src/exoplanet/light_curves/integrated.py
    src/exoplanet/light_curves/interpolated.py
    src/exoplanet/theano_ops/build_utils.py
    src/exoplanet/theano_ops/interp/*
relative_files = true

[report]
exclude_lines =
    raise NotImplementedError
    except ImportError
    pragma: no cover
    def R_op
    if verbose
