[run]
omit =
    *_test.py
    *__init__*
    src/exoplanet/interp.py
    src/exoplanet/theano_ops/interp/*
    src/exoplanet/orbits/dur_to_ecc.py
    src/exoplanet/distributions/celerite.py

[report]
exclude_lines =
    raise NotImplementedError
    pragma: no cover
    def R_op
