.DS_Store
test
*.so
build
__pycache__
*.egg-info
transit/cuda
demo
.pytest_cache
dist
for_ed
.coverage*
backups
.ipynb_checkpoints
.cache
.github_api_key
htmlcov
.eggs
exoplanet_version.py
env
venv-test
.tox
