paper/* linguist-documentation
docs/* linguist-documentation
exoplanet/theano_ops/vendor/* linguist-vendored
*.h linguist-language=C++
docs/notebooks/*.ipynb filter=nbstripout
paper/figures/*.ipynb filter=nbstripout
*.ipynb diff=ipynb
