repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.0.1
  hooks:
  - id: trailing-whitespace
    exclude: src/exoplanet/theano_ops/lib/vendor
    exclude: docs/tutorials
  - id: end-of-file-fixer
    exclude: src/exoplanet/theano_ops/lib/vendor
    exclude_types: [json]
    exclude: docs/tutorials
  - id: debug-statements
    exclude: src/exoplanet/theano_ops/lib/vendor
    exclude: docs/tutorials

- repo: https://github.com/PyCQA/isort
  rev: "5.8.0"
  hooks:
  - id: isort
    args: []
    additional_dependencies: [toml]
    exclude: docs/tutorials

- repo: https://github.com/psf/black
  rev: "21.6b0"
  hooks:
  - id: black

- repo: https://github.com/dfm/black_nbconvert
  rev: v0.2.0
  hooks:
  - id: black_nbconvert

- repo: https://github.com/mwouts/jupytext
  rev: v1.11.3
  hooks:
  - id: jupytext
    files: |
      (?x)^(docs/tutorials/.*\.md)$
    args: [--pipe, black]
    additional_dependencies:
      - black
