.dataframe {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  border-collapse: collapse;
  border: 0;
  display: block;
  overflow-x: scroll;
  font-size: 12px;
}

.dataframe th,
.dataframe td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.dateframe thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.dataframe tbody + tbody {
  border-top: 2px solid #dee2e6;
}

#searchbox {
  padding-top: 20px;
}

.yue img {
  max-width: 700px;
}

p.caption {
  font-weight: 700;
  font-size: 1.42em;
  margin: 1.42em 0 .4em;
}

.globaltoc>p.caption {
  display: block;
  font-size: 16px;
}

.t-sidebar>li.toctree-l1>ul {
  font-size: 80%;
}

li.current>a {
  color: var(--color-primary);
}
