.dataframe {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  border-collapse: collapse;
  border: 0;
  display: block;
  overflow-x: scroll;
  font-size: 12px;
}

.dataframe th,
.dataframe td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.dateframe thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.dataframe tbody + tbody {
  border-top: 2px solid #dee2e6;
}
