.highlight {
    border-left: 2px solid #ccc;
    padding-left: 10px;
    margin-left: -10px;
    background: none;
}

.highlight pre {
    font-size: 12px;
}

@media only screen and (max-width: 720px) {
    .highlight {
        background: #f6f7f9;
        border-left: none;
        margin: 5px 0;
        padding: 1px 10px;
    }
}