name: Windows

on:
  push:
    branches:
      - master
      - windows
  pull_request:
    branches:
      - master

jobs:
  build:
    name: "py${{ matrix.python-version }} on ${{ matrix.os }}"
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.7"]
        os: ["windows-latest"]

    steps:
      - uses: actions/checkout@v2
      - uses: goanpeca/setup-miniconda@v1
        with:
          auto-update-conda: true
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          conda create -n exoplanet python=3.7 -q -c conda-forge
          conda activate exoplanet
          conda install -c conda-forge -q numpy theano astropy celerite
          python -m pip install -e .[test]
          python -c "import theano; print(theano.__version__)"

      - name: Run tests
        run: |
          conda activate exoplanet
          python -m pytest -v tests
